/******************* FONTS STYLE *******************/
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}

.font-inter-black{
  font-family: "Inter-Black", sans-serif;
}

.font-inter-bold{
  font-family: "Inter-Bold", sans-serif;
}

.font-inter-medium{
  font-family: "Inter-Medium", sans-serif;
}

.font-inter-regular{
  font-family: "Inter-Regular", sans-serif;
}

/***************** COLORS STYLE *******************/
$color-purple: #800A7A;
$color-yellow: #F1B301;
$color-gray: #F5F5F5;
$color-black: #222124;
$color-light: #F1F1F1;
$color-orange: #E76A06;
$color-violet: #FC96F7;

/***************** ICONS STYLE *****************/
.icon{
  width: 18px;
  height: 18px;
  mask-repeat: no-repeat;
  mask-size: 100%;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;

  background-color: $color-yellow;

  &.youtube-icon{
    mask-image: url("../assets/icons/youtube.svg");
    -webkit-mask-image: url("../assets/icons/youtube.svg");
  }
  &.telegram-icon{
    mask-image: url("../assets/icons/telegram.svg");
    -webkit-mask-image: url("../assets/icons/telegram.svg");
  }
  &.facebook-icon{
    mask-image: url("../assets/icons/facebook.svg");
    -webkit-mask-image: url("../assets/icons/facebook.svg");
  }
  &.tik-tok-icon{
    mask-image: url("../assets/icons/tik-tok.svg");
    -webkit-mask-image: url("../assets/icons/tik-tok.svg");
  }
  &.phone-icon{
    mask-image: url("../assets/icons/phone.svg");
    -webkit-mask-image: url("../assets/icons/phone.svg");
  }
  &.play-icon{
    mask-image: url("../assets/icons/play.svg");
    -webkit-mask-image: url("../assets/icons/play.svg");
  }
  &.store-icon{
    mask-image: url("../assets/icons/store.svg");
    -webkit-mask-image: url("../assets/icons/store.svg");
  }
  &.mobile-menu-icon{
    mask-image: url("../assets/icons/mobile-menu.svg");
    -webkit-mask-image: url("../assets/icons/mobile-menu.svg");
  }
}

/******************* MAIN STYLES *********************/
html{
  font-size: 18px;
  overflow-x: hidden;

  body{
    padding: 0;
    margin: 0;

    .top{
      width: 100%;
      background-image: linear-gradient(to right, white 60%, $color-purple 40%);
      
      @media (max-width: 667px) {
        background-image: linear-gradient(to top, $color-purple 60%, white 40%);
      }
      // Navbar Style
      .container{
        .col-60{
          width: 60%;
          height: 100%;
          @media (max-width: 667px) {
            display: flex;
            justify-content: flex-start!important;
            margin-left: 0;
          }
          .navbar-nav{
            .nav-item{
              .nav-link{
                font-size: 14px;
                line-height: 17px;
                font-family: "Inter-Regular";
                color: $color-black;
              }
            }
          }
        }

        .col-40{
          width: 40%;
          height: 100%;
          @media (max-width: 667px) {
            flex-direction: column;
          }

          .line{
            width: 1px;
            height: 43px;
            opacity: 0.4;
            border: 1px solid #fff;
            @media (max-width: 667px) {
              display: none;
            }
          }

          a{
            color: #fff;
            @media (max-width: 667px) {
              color: $color-purple;
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }

    //  Header Style
      .header{
        .header-title{
          font-size: 80px;
          font-weight: 900;
          line-height: 85px;
          color: $color-black;
          margin-top: 123px;
          // header-title mobile
          @media (max-width: 667px) {
            text-align: center;
            color: #fff;
            font-size: 36px;
            line-height: 44px;
            font-weight: 900;
            margin-top: -37px;
          }
        }

        .header-description{
          font-size: 18px;
          line-height: 32px;
          font-weight: normal;
          color: $color-black;
          margin-top: 14px;
        //  header-description mobile
          @media (max-width: 667px) {
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
          }
        }

        .row{
          display: flex!important;
          .col-6{
            .card{
              width: 255px;
              height: 200px;
              background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
              border-radius: 12px;
              border: 0;
              padding: 20px 0 0 20px;
              margin-top: 116px;
              position: relative;
              @media (max-width: 792px) {
                overflow-x: scroll;
              }

              button{
                width: 119px;
                height: 40px;
                background: rgba(255, 255, 255, 0.203344);
                border-radius: 19px;
                color: #fff;
                border: 0;
              }

              .pizza{
                font-size: 34px;
                line-height: 32px;
                font-weight: bold;
                color: $color-orange;
              }

              .kombo{
                font-size: 34px;
                line-height: 32px;
                font-weight: bold;
                color: $color-violet;
              }

              .pizza-half{
                position: absolute;
                bottom: 0;
                right: 0;
              }

              .kombo-half{
                position: absolute;
                bottom: 0;
                right: 0;
              }
            }

            .kombo-card{
              background: #800A7A;
              @media (min-width: 667px) and (max-width: 792px) {
                box-shadow: 2px 2px 0 2px $color-orange;
                margin-top: 116px;
              }

              button{
                width: 174px;
                height: 40px;
              }
            }
          }
        }

        .big-burger-mobile{
          width: 100%;
          height: 100%;
          //height: 80%;
          margin-top: 30%;
          margin-bottom: 0!important;
          padding-bottom: 0!important;
        }

        .col-12{
          .big-burger{
            width: 840px;
            height: 100%;
            margin-top: 68px;
            margin-left: -100px;
            margin-bottom: 0!important;
            padding-bottom: 0!important;
          }
        }
      }
    }

  //  Header Card Style
    .container-fluid{
      .row{
        @media (max-width: 667px) {
          overflow-x: scroll;
        }
        .col-6{
          .card{
            width: 255px;
            height: 200px;
            background: linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
            border-radius: 12px;
            border: 0;
            padding: 20px 0 0 20px;
            margin-top: 66px;
            position: relative;

            button{
              width: 119px;
              height: 40px;
              background: rgba(255, 255, 255, 0.203344);
              border-radius: 19px;
              color: #fff;
              border: 0;
            }

            .pizza{
              font-size: 34px;
              line-height: 32px;
              font-weight: bold;
              color: $color-orange;
            }

            .kombo{
              font-size: 34px;
              line-height: 32px;
              font-weight: bold;
              color: $color-violet;
            }

            .pizza-half{
              position: absolute;
              bottom: 0;
              right: 0;
            }

            .kombo-half{
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }

          .kombo-card{
            background: #800A7A;
            @media (max-width: 667px) {
              margin-left: 80%;
            }

            button{
              width: 174px;
              height: 40px;
            }
          }
        }
      }
    }

  //  Main Styles
    .main{
      .row{
        .col-12{
          .line{
            width: 100%;
            height: 1px;
            opacity: 0.2;
            border: 1px solid #979797;
            margin-top: 79.5px;
            margin-bottom: 39.5px;
          }

          .nav-pills{
            @media (max-width: 667px) {
              overflow-x: scroll!important;
            }
            .nav-item{
              .active{
                width: 100%;
                height: 50px;
                background-color: $color-yellow;
                border-radius: 27px;
                color: #fff!important;
              }
              .nav-link{
                font-size: 20px;
                line-height: 24px;
                color: $color-black;
              }

              .btn-light{
                width: 160px;
                background-color: $color-gray;
                border-radius: 27px;
              }
            }
          }
        }

        .row{
          .col-12{
            .main-title{
              font-size: 52px;
              line-height: 63px;
              margin-top: 105px;
            }
            .main-card{
              width: 540px;
              height: 230px;
              border: 1px solid rgba(151, 151, 151, 0.181927);
              box-sizing: border-box;
              border-radius: 12px;
              margin-top: 30px;
              padding: 30px 30px 20px 30px;
              position: relative;

              .circle{
                width: 50px;
                height: 50px;
                background: rgba(255, 255, 255, 0.249235);
                box-shadow: 0px 7px 40px rgba(238, 39, 68, 0.355086);
                backdrop-filter: blur(8.15485px);
                border-radius: 25px;
                position: absolute;
                top: 30px;
                left: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              h3{
                font-size: 24px;
                line-height: 28px;
                color: $color-black;
              }
              p{
                font-size: 14px;
                line-height: 17px;
                color: $color-black;
                opacity: 0.4;
                margin-top: 10px;
              }
              h2{
                font-size: 24px;
                line-height: 27px;
                color: $color-black;
                margin-top: 24px;
              }
              button{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $color-yellow;
                color: #fff;
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
}